/* global elements*/
a:link {color: #999999;}
a:visited {color: #999999;}
a:active  {color: #999999;}
a:hover {
	color: #333333;
	text-decoration: none;/*remove the underline when hover*/
}

/* === page-top === */

/* for links in the navigation bar*/
a.navlink {
	font-weight: bold;
}

/* pink underline appears on hover*/
a.navlink:hover {
	border-bottom-width: 3px;
	border-bottom-style: solid;
	border-bottom-color: #e46a8b;
	z-index: -1;
}

/* the pink bar at the top*/
#topbar {
	background-color: #ed8ca7;
	color: white;
}

/* search box */
#search {
	border-radius:18px;
	background-color:#fff;
	border-color:#e66b8c;
}

#search-block{
	overflow: hidden;
	white-space: nowrap;
}

#search-icon {
	position:absolute;
	right:4em;
	top:3.7em;
	/*float:right;
	margin:20px;*/
	color:#e66b8c;
}

/* not found, might remove*/
#title-small{
	color:#e66b8c;
}

/*to keep cart and notification icons in the same line*/
#cart, #notification{
	display:inline;
}

#rectangle {
	border: solid 0.5px #d9d9d9;
	box-shadow: 0 2px 4px 0 #fea4a8;
}

/* the text in the rectangles
/* font seems not right */
#rect_text {
	font-family: OpenSans;
	letter-spacing: 2.5px;
	color: #272220;
}

/* === footer === */
footer {
	background-color: #f5dae1;
	background-position: center;
}

#about-us {
	font-family: SourceSansPro;
	font-weight: 300;
	line-height: 1.85;
	color: #4a4a4a;
}

/* ===== main_page ===== */

/***************************************
vedioWrapper:
make video iframe responsive
***************************************/
.videoWrapper {
	position: relative;
	padding-bottom: 56.25%; /* 16:9 */
	height: 0;
}
.videoWrapper iframe {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

/***************************************
masonry style sheet
https://codepen.io/desandro/pen/osFxj
***************************************/

* { box-sizing: border-box; }

.grid {
  background: #eee;
  max-width: 80%;
  padding: 0%;
}

/* clearfix */

.grid:after {
  content: '';
  display: block;
  clear: both;
}

/* ---- grid-item ---- */

/* 100 100 (1 column) */
@media only screen and (max-width: 649px) {
	.item {
		
		padding: 1em;
		float: left;
		display: inline-block;
		box-sizing: border-box;
		-moz-box-sizing: border-box;
		-webkit-box-sizing: border-box;
	}
	
	.grid-sizer, .item{
		width: 100%;
	}
	
	
	.item--first {
		width: 100%;
	}
}

/* 100 50 (2 columns) */
@media only screen and (min-width: 650px) {
	.item {
		
		padding: 1em;
		float: left;
		display: inline-block;
		box-sizing: border-box;
		-moz-box-sizing: border-box;
		-webkit-box-sizing: border-box;
	}
	
	.grid-sizer, .item{
		width: 50%;
	}
	
	.item--first {
		width: 100%;
	}
}

/* 66.6 33.3 (3 columns) */
@media only screen and (min-width: 1000px) {
	.item {
		
		padding: 1em;
		float: left;
		display: inline-block;
		box-sizing: border-box;
		-moz-box-sizing: border-box;
		-webkit-box-sizing: border-box;
	}
	
	.grid-sizer, .item{
		width: 33.3%;
	}
	
	.item--first {
		width: 66.6%;
	}
}

/* 50 25 (4 columns)*/
@media only screen and (min-width: 1200px) {
	.item {
		
		padding: 1em;
		float: left;
		display: inline-block;
		box-sizing: border-box;
		-moz-box-sizing: border-box;
		-webkit-box-sizing: border-box;
	}
	
	.grid-sizer, .item{
		width: 25%;
	}
	
	.item--first {
		width: 50%;
	}
}

/* 40 20 (5 columns)*/
@media only screen and (min-width: 1600px) {
	
    .item {
		padding: 1em;
		float: left;
		display: inline-block;
		box-sizing: border-box;
		-moz-box-sizing: border-box;
		-webkit-box-sizing: border-box;
    }
	
	.grid-sizer, .item{
		width: 20%;
	}
	
	.item--first {
		width: 40%;
	}
}

/*used by mainpage*/
.item-content{
	border-radius:10px;
	background:#fff;
	
}

/* ! important ! */
/* following content is arranged by  
/  alphabetical order of page name */




/* === latest story === */
/* since this page no longer exist, these
classes are probably used by seller page */
.latest-story-item{
	
}

.latest-story-tag{
	font-family: "OpenSans";
	color: #a8a8a8;
	padding-left: 1em;
}

/*
use media @ width to remove dashed border when 
page width can not have main article col and 
side bar row in the same row
*/
.latest-story-side-bar{
	border-left: 1px dashed #ededed;
	
}

.latest-story-side-bar-titles{
	margin-bottom: 0px;
}

.latest-story-side-bar-contents{
	border-bottom: 1px dashed #ededed;
	
}

#latest-story-search-block{
	overflow: hidden;
	white-space: nowrap;
	width: 100%;
}

#latest-story-search {
	border-radius:18px;
	background-color:#fff;
	border-color:#ededed;
}

#latest-story-search-icon {
	position:absolute;
	right:3em;
	top:0.7em;
	/*float:right;
	margin:20px;*/
	color:#ededed;
}
