body{
    background-color: aliceblue;
}

.tab {
    display: none;
    background-color: #eeeeee;
    padding: 1em;
    font-family: Microsoft YaHei;
}

.navbar{
    background: rgba(255, 255, 255, 1);
}

.alert{
    text-align: left;
    font-size: 1em;
    padding: 1em;
    border-left: 5px red solid;
    background: white;
}

.info{
    text-align: left;
    font-size: 1em;
    padding: 1em;
    border-left: 5px yellow solid;
    background: white;
}

.center{
    vertical-align: 50%;
    margin: auto;
}